.container1 {
    border-bottom-style: solid;
    border-bottom-color: #cccccc;
    border-bottom-width: 4px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    background:#ffffff;
    font-size: 200%;
}

.container1 h1 {
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    color: white;
    background: #4aaaa5;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 17%;
    text-align: center;
    margin-left: 135px;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.container1 nav {
    word-spacing: 10px;
    color: #777777;
    display: inline-block;
    width: calc(50% - 4px);
    font-size: 25px;
    text-align: right;
    vertical-align: middle;
}

.container2 {
    margin-top: 50px;
    margin-left: 135px;
    height: 35%;
    width: 35%;
    display: inline-block;
    background: #ffffff;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.container2 h2 {
    font-weight: bold;
    font-size: 200%;
    color: #4aaaa5;
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 25px;
    padding-top: 25px;
}

.image {
    display: inline-block;
    vertical-align: middle;
}

.container2 p {
    color: #777777;
    float: right;
    display: inline-block;
    vertical-align: middle;
}

.container3 {
    margin-right: 25%;
    height: 30%;
    background: #ffffff;
    float: right;
    position: relative;
    top: -500px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

.container3 h2 {
    font-weight: bold;
    font-size: 200%;
    color: #4aaaa5;
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 25px;
    padding-top: 25px;
}

.container3 nav {
    padding-left: 35px;
}

#blankbox3 {
    height: 250px;
    width: 350px
}

.container5 {
    margin-right: 25%;
    height: 30%;
    background: #ffffff;
    float: right;
    position: relative;
    top: -500px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

.container6 {
    margin-top: 50px;
    margin-left: 135px;
    width: 35%;
    background: #ffffff;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.container6 h2 {
    font-weight: bold;
    font-size: 200%;
    color: #4aaaa5;
    vertical-align: middle;
    padding-bottom: 25px;
    padding-top: 25px;
}

body {
    background: rgba(234, 234, 232, 0.57);
}

footer {
    background-color: #666666;
    text-align: center;
    padding-bottom: 40px;
    padding-top: 40px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    border-top: 8PX;
    border-top-style: solid;
    border-top-color: #4aaaa5;
}
